body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

#agrupar {
    width: 90%;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    position: relative;
    min-height: 100vh;
    padding-bottom: 80px; 
}

#cabeza {
    text-align: center;
    background-color: #1e3d7b;
    color: #fff;
    padding: 10px;
    border-radius: 10px 10px 0 0;
}

#cabeza h1 {
    margin: 0;
    font-size: 2em;
    margin-bottom: 10px;
}

#info-alumno {
    display: flex;
    align-items: center;
    background-color: #1e3d7b;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    margin: 10px 0;
}

#info-alumno img {
    margin-right: 10px;
}

section {
    margin: 20px 0;
}

#Acciones {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#Acciones > div {
    background-color: #1e3d7b;
    color: #fff;
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
}

#Titulo_tablas0 {
    background-color: transparent;
    color: #fff;
    padding: 10px;
    border-radius: 10px 10px 0 0;
    font-size: 1.5em;
    font-weight: bold;
}

#Contenedor_Botones {
    margin-top: 10px;
}

#Botones {
    display: block;
    background-color: #007bff;
    color: white;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    text-decoration: none;
}

#Botones:hover {
    background-color: #0056b3;
}

footer {
    background-color: #1e3d7b;
    color: white;
    text-align: center;
    padding: 10px;
    border-radius: 0 0 10px 10px;
    margin-top: 20px;
}

.cerrar-sesion {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    text-align: center;
    display: inline-block;
}

.cerrar-sesion:hover {
    background-color: #0056b3;
}

/* Para tablet*/
@media (max-width: 1200px) {
    #agrupar {
        width: 95%;
    }
}

@media (max-width: 768px) {
    #agrupar {
        width: 100%;
        padding: 10px;
    }

    #info-alumno {
        flex-direction: column;
        text-align: center;
    }

    #info-alumno img {
        margin-bottom: 10px;
    }

    #Acciones {
        gap: 10px;
    }

    #Acciones > div {
        padding: 10px;
    }

    #Botones {
        padding: 8px;
        font-size: 14px;
    }
}



/* Para telefono*/
@media (max-width: 480px) {
    #cabeza h1 {
        font-size: 1.5em;
    }

    #Botones {
        padding: 6px;
        font-size: 12px;
    }
}